<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sum Flow (MPA) · Resumen</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <main>
      <h1>Resumen</h1>
      <p id="result"></p>
      <div>
        <button id="btnBack">Volver</button>
        <button id="btnExit">Salir</button>
      </div>
    </main>
    <script type="module" src="./summary.js"></script>
  </body>
</html>
