<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sum Flow (MPA) · Login</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <main>
      <h1>Acceso</h1>
      <input id="user" placeholder="Usuario" autocomplete="username" />
      <input
        id="pass"
        type="password"
        placeholder="Contraseña"
        autocomplete="current-password"
      />
      <button id="btnHome">Volver al inicio</button>
      <button id="btnLogin">Iniciar sesión</button>
    </main>
    <script type="module" src="./login.js"></script>
  </body>
</html>
