<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sum Flow (MPA) · Error de acceso</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <main>
      <h1>Acceso denegado</h1>
      <p>Los datos de acceso son incorrectos.</p>
      <button id="btnRetry">Volver al login</button>
    </main>
    <script type="module" src="./error.js"></script>
  </body>
</html>
